@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal normal normal 1rem/1.6 -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before, html {
    box-sizing: border-box;
}

body {
    color: #404040;
    font-size: 1rem;
    margin: 0;
}

a { 
    color: #3f80ff;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1.8rem;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.3;
    color: #555;
}

h1 {
    font-size: 1.75rem;
}

dl, ol, p, table, ul {
    margin: 0 0 2rem;
}

ul ul, ol ul {
    list-style-type: disc;
}

ul {
    -webkit-padding-start: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

blockquote {
    margin: 0 0 2rem;
    border-left: 16px solid #f0f0f0;
    padding: 0 1.5rem;
    font-size: 1.5rem;
}

blockquote {
    color: #404040;
    border-left: 8px solid #f0f0f0;
    font-weight: 400;
    margin: 2rem 0;
    padding-left: 1.5rem;
    font-size: 1.05rem;
    line-height: 1.6;
}

blockquote cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: right;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

pre[class*="language-"] {
    font-size: 1rem;
    margin: 3rem 0;
    border-radius: 4px;
}

/* 
NEED TO CREATE PALLETE MAYBE?
.blue {
    color: #0077b5;  // LinkedIn Blue 
}*/

.nav .nav-container .brand {
    font-weight: 600;
}

.nav .nav-container .brand .brand-icon {
    display: block;
    max-width: 25px;
    height: 25px;
}

.nav .nav-container .brand span {
    margin-left: .3rem;
}

.nav .nav-container .brand a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #222;
    padding: 0;
    margin-top: .31rem;
    font-size: 1.14rem;
}

.nav {
    /* position: fixed;
    top: 0;
    left: 0; */
    background: #fff;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid #eee;
    font-size: .85rem;
}

.nav .nav-container {
    max-width: 850px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    align-items: center;
    justify-content: space-between;
}



.nav .nav-container .links {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav .nav-container .links a {
    font-size: 1rem;
    margin-right: .8rem;
}

.nav .nav-container .extra {
    font-size: 1.5rem;
    display: -ms-flexbox;
    display: flex;
}

.nav a.nav-icon {
    cursor: pointer!important;
    padding: .1rem .5rem;
}

.nav a { 
    color: #666;
    padding: .5rem .6rem;
    border-radius: 4px;
    display: block;
    margin: 0 .1rem;
}




#main-content {
    /* margin-top: 60px; */
    padding: 2rem 0 0 0;     /* add amount from disabled margin-top.*/
    min-height: calc(100vh - 210px);
}

#main-content h1 {
    text-align: center;
}


.container {
    max-width: 850px;
    padding: 0 15px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.section:first-of-type {
    margin-top: 0;
}
.section {
    margin: 50px 0;
}

.section>h2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.lead {
    font-size: 1.1rem;
}

.footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    color: #888;
}

.footer strong {
    color: #111;
}

.search-enabled {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

.search-enabled h1 {
    margin-bottom: 1rem;
}

.search-wrapper {
    position: relative;
}

.search-wrapper [type=search] {
    -webkit-appearance: none;
    padding-right: 2rem;
}

.search-form [type=search] {
    width: auto;
    background: #f2f2f2;
    border: 0;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    display: block;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: .75rem;
    outline: none;
    background: #f2f2f2;
    margin-bottom: .5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

.search-icon {
    position: absolute;
    right: .6rem;
    top: calc(50% - .5em);
}

.view-all {
    background: #f2f2f2;
    border-radius: 4px;
    padding: .6rem .8rem;
    font-size: .85rem;
    margin-left: .5rem;
    color: #404040;
}

.post {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 4px;
    border-bottom: 2px solid #f2f2f2;
}

.post:last-of-type {
    border-bottom: none
}


.post-thumbnail {
    width: 30px;
    margin-right: 1.3rem;
}

.post-thumbnail img {
    display: block;
}

.post-title, a.post-title {
    display: block;
}
.post-title {
    -ms-flex: 2;
    flex: 2;
    font-weight: 500;
    color: #333;
}

.post-description {
    font-size: .9rem;
    color: #888;
    margin: 0 2rem 0 1rem;
    -ms-flex: 8;
    flex: 8;
    display: none;
}

.post-date {
    color: #888;
    font-size: .9rem;
    display: none;
}

.post:hover {
    background: #f2f2f2;
    text-decoration: none!important;
}

.single-header {
    margin-bottom: 40px;
    text-align: center;
}

.single-header h1 {
    margin: .5rem 0;

}
.post-page-date {
    color: #888;
    font-weight: bold;
    font-size: .9rem;
}
.article h2 {
    margin: 0 0 .5rem 0;
}
.article h3 {
    margin: 0 0 .5rem 0;
}
.article p {
    margin: 0 0 2.5rem;
}


@media (min-width: 700px) {

    h2 {
        font-weight: 700;
        font-size: 1.9rem;
    }
    .nav .nav-container .links a:hover {
        color: #111;
        background: #f2f2f2;
    }
    
    .nav .nav-container .extra a:hover {
        background: #f2f2f2;
    }

    .container {
        margin-top: 0;
    }

    body {
        font-size: 1.15rem;
    }
    
    ul {
        -webkit-padding-start: 60px;
    }


    .nav .nav-container .links {
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: .5rem 0;
    }

    .nav .nav-container .brand a {
        font-size: 1.1rem;
    }

    .nav .nav-container .links a {
        font-size: 1.1rem;
    }

    .nav .nav-container .extra a {
        font-size: 1.5rem;
    }

    .nav a.nav-icon {
        padding: .5rem .6rem;
    }

    #main-content {
        /* margin-top: 70px; */
        padding: 4rem 0 0 0;     /* add amount from disabled margin-top.*/
    }

    #main-content h1 {
        text-align: left;
    }

    .section {
        margin: 80px 0;
    }

    .section:first-of-type {
        margin-bottom: 0
    }

    h1 {
        font-size: 2rem;
    }

    .lead {
        font-size: 1.3rem;
    }

    blockquote {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .search-enabled {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .search-enabled h1 {
        margin-bottom: 0;
    }

    .post-title {
        margin-right: 2rem;
    }

    .post-date, .post-description {
        display: block;
    }

    .post-description {
        font-size: 1.1rem;
    }

    .single-header {
        text-align: left;
    }

    .article h2 {
        margin: 0 0 .8rem 0;
    }
    .article h3 {
        margin: 0 0 .8rem 0;
    }

    #resources h1 {
        margin-bottom: 4rem;
    }

    #resources h2 {
        padding-left: 1rem;
    }
}


@media (min-width: 850px) {
    .nav {
        font-size: 1.1rem;
        height: 70px;
    }

    .nav .nav-container {
        height: 70px;
    }

    .nav .nav-container .brand {
        margin-right: .5rem;
    }

    .nav .nav-container .brand a {
        margin-top: 0;
        font-size: 1.1rem;
    }

    .nav .nav-container .links {
        width: auto;
        -ms-flex-order: 0;
        order: 0;
        margin: 0;
    }

    .nav .nav-container .links a {
        font-size: 1.1rem;
        margin-right: .1rem;
    }
    
    .nav a {
        padding: .8rem 1.1rem;
    }

    /* .nav .nav-container .extra {
        font-size: 1.5rem;
    } */

    .nav a.nav-icon {
        padding: .8rem;
    }

    #main-content {
        /* margin-top: 70px; */
        padding: 4rem 0 0 0;     /* add amount from disabled margin-top.*/
    }

}